header {
    background: salmon;
    color: #120B5B;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: 'Belanosima', sans-serif, 'Caprasimo';
    
}

button {
    background: #120B5B; 
    color: antiquewhite;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;

}